<h1> Rolling the Dice for Random Numbers</h1>

  <% lucky_number1 = rand(6) %>
  <% lucky_number2 = rand(6) %>
  The first number is:  <%= lucky_number1 %>
  The second number is: <%= lucky_number2 %>

