<h1> Rolling the Dice for Random Numbers</h1>

  <% dice_number1 = 1 + rand(6) %>
  <% dice_number2 = 1 + rand(6) %>

  The first die number is:  <%= dice_number1 %>
  <p>
  <img src="http://kiei925.com/images/dice/<%= dice_number1%>.png">
  </p>

  <p>
  The second die number is: <%= dice_number2 %>
  </p>

  <p>
  <img src="http://kiei925.com/images/dice/<%= dice_number2%>.png">

  </p>

