<html>
<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<h2> <font color=blue> Books for Sale! </font> </h2>


<body>

<div class="col-md-6">
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
    <th> Average Rating </th>
  </tr>
  </thead>
  <tbody>
<% the_book = Book.read %>
<% the_book.each do |book| %>

  <tr>
    <td> <%= book["title"] %> </td>
    <td> <%= book["author"] %> </td>
  <% name = book["title"] %>
    <td> <%= Review.where("title" => name).average("rating") %>

  </tr>
<% end %>
</tbody>
</table>
</div>
</body>
</html>
