<html>
<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<h1> <strong> <font color=blue> Books for Sale! </font> </strong> </h1>

<body>

<h3> <em> Editor's Pick! </em> </h2>

<% editors_pick = Review.group("title").order("avg(rating) desc").first[:title] %>

<strong> The current Editor's Pick is: <%= link_to editors_pick, "/books/#{Book.find_by("title" => editors_pick)[:id]}"  %> </strong>
<br>
<br>

<h2> Here is our Book list! </h2>

<div class="col-md-6">
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
    <th> Average Rating </th>
  </tr>
  </thead>
  <tbody>
<% the_book = Book.read %>
<% the_book.each do |book| %>

  <tr>
    <td> <%= link_to book["title"], "/books/#{book["id"]}" %> </td>
    <td> <%= book["author"] %> </td>
  <% name = book["title"] %>
    <td> <%= Review.where("title" => name).average("rating") %>

  </tr>
<% end %>
</tbody>
</table>
</div>
</body>
</html>
